/* common */
html{width:100%;height:100%;overflow-y:scroll}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0px;padding:0px;font:inherit;vertical-align:baseline;}
body{font-size:12px;font-family:Dotum,Arial;color:#74767a;line-height: 120%;}
a,a:link,a:visited{color:#fff;text-decoration:none}
ul,ol{list-style:none}
address,em{font-style:normal}
table{border-spacing:0px;border-collapse:collapse;width:100%}
table,fieldset,th,td,img{border:none}
td{word-break:break-all}
img,input,select{vertical-align:middle}
caption{width:0px;height:0px;line-height:0px;visibility:hidden;overflow:hidden}
legend{position:absolute;width:0px;height:0px;line-height:0px;visibility:hidden;overflow:hidden}
hr{display:none;}


body{
	font-family: sans-serif;
	height: 100%;
	width: 100%;
	margin: 0;
	background: #e3e3e3;
}


#header{padding: 10px; width: 100%; color:#fff; background: rgba(52, 27, 43, 0.5); opacity: 0.8; position:fixed; z-index: 99; }
#logo img{width: 50px; height:50px}
#nav{float: right; }
#nav li{float: left; margin-right: 20px; font-size:18px; line-height:50px;}
#nav li a{color: #ffffff;}
#nav li a:hover{text-decoration: underline; }


#section1 {
	height: 100vh;
	color: #fff;
	text-align: center;
	position: relative;
}
#section1:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/green2.jpg); 
	background-size: 100% 100%;
    width: 100%;
    height: 100%;
    opacity : 0.6;
    z-index: -1;
}
	#section1 .inner {
		background: rgba(52, 27, 43, 0.5);
		display: inline-block;
		padding: 4em;
		text-align: center;
		margin: 150px 0 0 0;		
	}
		#section1 .inner header {
			display: inline-block;
			border-bottom: solid 2px;
			border-top: solid 2px;
			margin: 0 0 2em 0;
			padding: 3px 0 3px 0;
		}
			#section1 .inner header h2 {
				border-bottom: solid 2px;
				border-top: solid 2px;
				font-size: 2.5em;
				font-weight: 900;
				letter-spacing: 0.2em;
				margin: 0;
				padding-left: 0.05em;
				position: relative;
				text-transform: uppercase;
				padding: 8px 0 8px 0;
			}
		#section1 .inner p {
			letter-spacing: 0.1em;
			margin: 0;
		}
		#section1 .inner footer {
			margin: 2em 0 0 0;
		}







#section2{
	padding: 100px 0; 
	width:80%;
	margin: 0 auto;
	text-align: center; 
	overflow: hidden; 
}
#section2 .box{
	display: inline-block;
	width:20%;
	margin: 10px ;
	box-sizing: border-box;
	text-align: center;
	border: outset 1px;
	
}

#section2 .box .upbox{
	background-color: #fff;
	padding: 40px 40px 20px 40px;
}
#section2 .box .upbox img{
	width: 80%;
}
#section2 .box .upbox p{
	padding: 10px 0 0 0;
}
#section2 .box .upbox p span{
	background: #107C98;
	color: #fff;
    border-radius: 4px;
	font-size: 1.2em;
	
}

#section2 .box .downbox{
	background-color: lightgrey;
	padding: 10px;
	color: black;
}

.box{position: relative;}
.box .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}
.box:hover .tooltiptext {
    visibility: visible;
}



#section4{
	padding: 100px 0;
	margin: 0 auto; 
	width: 80%; 
	overflow: hidden;  
	border: solid 2px;
}
#section4>div{float:left; }
#section4 .img{width: 440px; }
#section4 .img img{width: 100%; }
#section4 .text li {font-family: sans-serif; font-size:20px; font-weight: bold; color: black; padding:20px;}
#section4 .text{position: relative; width: 440px; }
.moreinfo{display: block; position:absolute; right:0px; padding:10px; border: 2px solid #ff4d4d; border-radius: 10px;  right: 0; top: 240px;  }
.moreinfo:hover{background: #ffe6e6;}
.moreinfo div{color: #ff4d4d;}

#section3{
	padding: 10px 0;
	width: 100%; height: 130px; background: #1a75ff; color: #ffffff; text-align: center; line-height:130px; font-family: sans-serif; font-size:25px; font-weight: bold;}
#section3  a{color: black; background: #ffffff; font-size:20px; font-weight: normal; }
#section3  a{padding:10px;  border-radius: 10px; margin:10px;}
#section3 a:hover{color: #4d94ff;}



#footer{width: 100%; margin-top:30px;}
#footer .footer_in{width: 100%; margin: 0 auto; text-align: center; border: 1px solid blue; }
#footer .footer_in li{display:inline-block; margin:20px;}
#footer .footer_in p{clear:both;}


